# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle/
gradlew
gradlew.bat

# other
eclipse
run
run-data/
src/generated/resources/.cache/
src/generated/resources/assets/
src/generated/resources/data/industrialdeco/
src/generated/resources/data/minecraft/
src/generated/resources/data/create/tags/block/
.github/

# Files from Forge MDK
forge*changelog.txt

